DATABASE_URL=
   
# Supabase
SUPABASE_BUCKET_KANNADA=
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
# Auth
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
CLERK_WEBHOOK_SECRET=
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/login
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/signup

# Payments
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
NEXT_PUBLIC_STRIPE_PAYMENT_LINK_100_CREDITS=https://buy.stripe.com/test_aFa8wIbNfcv8abG8tPb7y04
NEXT_PUBLIC_STRIPE_PAYMENT_LINK_300_CREDITS=https://buy.stripe.com/test_6oUbIU4kN7aO1Fa11nb7y05
NEXT_PUBLIC_STRIPE_PAYMENT_LINK_600_CREDITS=https://buy.stripe.com/test_aFa14g18BfHk3NicK5b7y06
NEXT_PUBLIC_STRIPE_PAYMENT_LINK_1200_CREDITS=https://buy.stripe.com/test_aFa14g18BfHk3NicK5b7y06 
NEXT_PUBLIC_BLOODBANK_BUCKET=
NEXT_PUBLIC_APP_URL=http://localhost:3000

AGENT_NAME=
PIPECAT_CLOUD_API_KEY=

STRIPE_PRICE_100_CREDITS=price_1RcNEu2eZEF9hX1l78CfkEUy
STRIPE_PRODUCT_100_CREDITS=prod_SXS967oEevtFI0
# 300 Credits Pack  
STRIPE_PRICE_300_CREDITS=price_1RcNL52eZEF9hX1lMiGEbtm4
STRIPE_PRODUCT_300_CREDITS=prod_SXSFoUnFa4kdtP
